$facebook: #3b5999;
$twitter: #55acee;
$polywork: #40be88;
$patreon: #ff424d;
$instagram: #e4405f;
$dribbble: #ea4c89;
$github: #111;
$behance: #1769ff;
$devto: #000;
$producthunt: #da552f;

@mixin gradient($color) {
  background: $color;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: center;

  @include breakpoint(tabletdown) {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  a {
    text-decoration: none;
    display: block;

    width: 100%;
  }

  a {
    box-shadow: 0 2px 3px transparentize(#000, 0.7);
    width: 33vmin;
    height: 33vmin;
    margin: 1rem;
    background: #fff;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    transition: background 300ms;

    @include breakpoint(tabletdown) {
      flex-direction: row;
      width: 100%;
      font-size: 1em;
      height: auto;
      justify-content: flex-start;
      margin: 1vw 0;
    }

    svg {
      transition: all 300ms;
      font-size: 4em;
      margin-bottom: 0.25em;

      @include breakpoint(tabletdown) {
        font-size: 2em;
        margin: 0.5em;
      }
    }

    &.devto svg {
      height: 1em;

      width: auto;
    }

    &.polywork {
      color: $polywork;
      img {
        margin: 0.25em;
        font-size: 4em;
        height: 2rem;
        width: auto;
      }

      &:hover {
        @include gradient($polywork);
      }
    }

    &.patreon {
      color: $patreon;

      &:hover {
        @include gradient($patreon);
      }
    }

    &.facebook {
      color: $facebook;

      &:hover {
        @include gradient($facebook);
      }
    }

    &.producthunt {
      color: $producthunt;

      &:hover {
        @include gradient($producthunt);
      }
    }

    &.twitter {
      color: $twitter;

      &:before {
        content: "My Favorite";
        font-size: 0.6em;
        margin-bottom: 1em;
        margin-top: -1em;
        color: #aaa;

        @include breakpoint(tabletdown) {
          display: none;
        }
      }

      &:hover {
        @include gradient($twitter);

        &:before {
          color: #fff;
        }
      }
    }

    &.instagram {
      color: $instagram;

      &:hover {
        @include gradient($instagram);
      }
    }

    &.dribbble {
      color: $dribbble;

      &:hover {
        @include gradient($dribbble);
      }
    }

    &.github {
      color: $github;

      &:hover {
        @include gradient($github);
      }
    }

    &.behance {
      color: $behance;

      &:hover {
        @include gradient($behance);
      }
    }

    &.devto {
      color: $devto;

      &:hover {
        @include gradient($devto);
      }
    }

    &:hover {
      opacity: 1;
      color: #fff;

      svg {
        fill: #fff;
      }
    }
  }
}

.socials--footer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  a {
    width: auto;
    height: auto;
    background: none;
    color: var(--text-color) !important;
    box-shadow: none;
    border-radius: var(--border-radius);
    svg {
      transition: all 300ms;
      font-size: 2em;
      margin: 0.25em;

      @include breakpoint(laptop) {
        margin: 0.2em;
        // font-size: 1em;
      }
    }

    &.twitter {
      &:before {
        content: none;
      }
    }
  }
}
