footer.main_footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: var(--darker-text-color);
  background: var(--darkerColor);

  @include breakpoint(laptop){
    flex-direction:column;
  }
  .main_nav {
    a {
      color: var(--darker-text-color);
    }
  }
}
