footer.main_footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: var(--text-color);
  background: radial-gradient(circle at 50% 0, var(--color), var(--darker-color));
  border-top: 15px solid var(--darker-color);
  border-bottom: 15px solid var(--color);

  @include breakpoint(laptop){
    flex-direction:column;
  }
  .main_nav {
    a {
      color: var(--text-color);
    }
  }
}
