footer.main_footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: var(--text-color);
  background: #000;
  margin-top: 4rem;
  z-index: 2;

  @include breakpoint(laptop) {
    flex-direction: column;
    margin-top: 0;
  }

  .copyright{
    margin: 1rem auto;
  }
}
