.main_head {
  width: 100%;
  padding: 1em;
  position: relative;
  display: grid;

  align-items: center;
  grid-template-columns: 3fr 1fr;

  transition: 300ms;
  z-index: 99999;
  @include card(4);

  @include breakpoint(laptop) {
    grid-template-columns: 300px 1fr;
  }

  &:after {
    content: '';
    width: 100%;
    height: 200%;
    position: absolute;
    top: 0;
    backdrop-filter: var(--filter);
    z-index: -1;
    background: var(--background);
    mask-image: linear-gradient(to bottom,
        black 0% 50%,
        transparent 50% 100%);
    transition: 300ms;
    pointer-events: none;

  }


  .logo {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    grid-gap: 0.5em;

    color: #fff;
    max-width: 35vw;
    width: 100%;

    @include breakpoint(tablet) {
      max-width: 25vw;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .main_nav {
    margin-left: auto;
  }

  &--min {
    grid-template-columns: 1fr;

    .logo {
      margin: 0 auto;
      height: 6rem;
      max-width: 15rem
    }
  }
}

.headroom {
  z-index: 40 !important;
  width: 100%;
  position: fixed!important;
  --filter: none;
  --background: none;

  &--unfixed {
    .main_head {
      --filter: none;
      --background: none;

      box-shadow: none;

      a.button,
      button.button {
        background: #000;
      }

      &:hover {
        --filter: blur(5px);
        --background: rgba(0, 0, 0, 0.5);

      }
    }
  }

  &--unpinned {
    transform: none !important;

    .main_head {
      --filter: blur(50px);
      --background: rgba(0, 0, 0, 0.5);

      @include breakpoint(laptop) {
        grid-template-columns: 200px 1fr;
        padding: 0rem 1rem;

        .main_nav {
          padding: 0 1rem;
        }
      }
    }
  }

  &--scrolled {
    .main_head {
      --filter: blur(50px);
      --background: rgba(0, 0, 0, 0.5);

      @include breakpoint(laptop) {
        grid-template-columns: 200px 1fr;
        padding: 0rem 1rem;

        .main_nav {
          padding: 0 1rem;
        }
      }

    }
  }
}

#colorSwitcher {
  border: none;
  color: #fff;
  font-size: 1.5em;
  background: none;
  cursor: pointer;
  transition: 300ms;
  padding: 0 0.5em;

  svg {
    filter: drop-shadow(2px 2px 0 var(--color));
  }

  &:hover {
    svg {
      color: var(--color);
      filter: drop-shadow(2px 2px 0 var(--text-color));
    }
  }
}

.photoshop-picker {
  input {
    color: #333;
  }
}