.main_head {
  width: 100%;
  padding: 1em;
  position: relative;
  display: grid;

  align-items: center;
  grid-template-columns: 3fr 1fr;

  background: rgba(0, 0, 0, 0.6);
  transition: background 300ms;
  z-index: 99999;
  backdrop-filter: blur(1px);
  @include card(4);

  @include breakpoint(laptop) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include breakpoint(desktop) {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .logo {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    grid-gap: 0.5em;

    color: #fff;
    max-width: 35vw;
    width: 100%;
    @include breakpoint(tablet) {
      max-width: 25vw;
    }
    @include breakpoint(laptop) {
      max-width: 50%;
    }

    @include breakpoint(desktop) {
      max-width: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .main_nav {
    margin-left: auto;
  }

  &--min {
    grid-template-columns: 1fr;
    .logo {
      margin: 0 auto;
      height: 6rem;
      max-width: 100%;
    }
  }
}

.headroom {
  z-index: 40 !important;
  width: 100%;

  &--unfixed {
    .main_head {
      background: none;
      box-shadow: none;

      a.button,
      button.button {
        background: #000;
      }

      &:hover{
        background: rgba(0,0,0,0.5);
      backdrop-filter: blur(5px);

      }
    }
  }

  &--scrolled {
    .main_head {
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(15px);
    }
  }
}

#colorSwitcher {
  border: none;
  color: #fff;
  font-size: 1.5em;
  background: none;
  cursor: pointer;
  transition: 300ms;
  padding: 0.5em;

  svg {
    filter: drop-shadow(2px 2px 0 var(--color));
  }

  &:hover {
    svg {
      color: var(--color);
      filter: drop-shadow(2px 2px 0 var(--text-color));
    }
  }
}

.photoshop-picker {
  input {
    color: #333;
  }
}
