.main_head {
  width: 100%;
  padding: 1em;
  position: relative;
  display: grid;

  align-items: center;
  grid-template-columns: 3fr 1fr;


  background: #000;
  z-index: 99999;
  @include card(4);

  @include breakpoint(laptop){
  grid-template-columns: 1fr 2fr 1fr;

  }

  .logo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-content: center;
    grid-gap: 0.5em;


    color: #fff;

    h1 {
      font-weight: 900;
      margin: 0;
      font-size: 1.5em;

      @include breakpoint(laptop){

        font-size: 3em;
      }
    }
  }

  img {
    height: auto;
    width: 100%;
    max-width: 100%;
    display: block;
    
  
  }

  #logo-icon{
    height: 50px;
    width: 50px;
    display: block;

    fill: var(--color);
    @include breakpoint(laptop){
      height: 100px;
      width: 100px;
    }
  }


  .main_nav {
    margin-left: auto;
  }

  

}

.headroom{
  z-index: 5!important;
}


#colorSwitcher {
  border: none;
  color: #fff;
  filter: drop-shadow(2px 2px 0 var(--color));
  font-size: 1.5em;
  background: none;
  cursor: pointer;
  transition: 300ms;

  &:hover {

    color: var(--color);
    filter: drop-shadow(2px 2px 0 var(--text-color));
  }


}

.photoshop-picker {
  input {
    color: #333;
  }
}




