.page-title {
  width: 100%;
  padding: 1em;
  text-align: center;
  background: var( --color ) url("../images/waves.svg");


  @include card(2);

  h1 {
    color: #fff;
    font-weight: 900;
    margin: 0;
    z-index: 222;

    text-shadow: 
    -1px -1px 0 #000,
    -2px -2px 0 #000,
    1px 1px 0 #000, 
    2px 2px 0 #000, 
    3px 3px 0 #000, 
    4px 4px 0 var( --color ), 
    5px 5px 0 #000, 
    6px 6px 0 #000,
    7px 7px 0 #000, 
    8px 8px 0 #000, 
    9px 9px 0 #000, 
    10px 10px 0 #000, 
  11px 11px 0 #000;
  transition: 300ms;
  }

  h2{
    color: #fff;
    text-shadow:  -1px -1px 1px #000,
    -2px -2px 1px #000,  1px 1px 1px #000,
    2px 2px 1px #000, 1px -1px 1px #000,
    2px -2px 1px #000,  -1px 1px 1px #000,
    -2px 2px 1px #000;
  }


  &:hover{
  }
}



.blog-title{

  @extend .page-title;

  padding: 17vh 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  @include card(-3);
  // background-color: var( --color );
  // background-blend-mode: screen ;

  h1, h2{
    background: transparentize(#000, 0.5);
    margin: 0;
    padding: 0.1em 1em;

  }
}