.page-title {
  width: 100%;
  padding: 2rem 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 40vh;
  h1 {
    color: #fff;
    font-weight: 900;
    margin: 0;
    z-index: 222;

    text-shadow:
      -1px -1px 0 #000,
      -2px -2px 0 #000,
      1px 1px 0 #000,
      2px 2px 0 #000,
      3px 3px 0 #000,
      4px 4px 0 var(--color),
      5px 5px 0 #000,
      6px 6px 0 #000,
      7px 7px 0 #000,
      8px 8px 0 #000,
      9px 9px 0 #000,
      10px 10px 0 #000,
      11px 11px 0 #000;
    transition: 300ms;

    font-size: 2.5em;

    @include breakpoint(laptop) {
      font-size: 4em;
    }

    i,
    svg {
      height: 2em !important;
      width: 2em !important;
      vertical-align: middle;
      display: inline-block;
      background: #000;
      border: 5px solid var(--darker-color);
      padding: 0.5rem;
      border-radius: 2rem;
    }
  }

  h2 {
    color: #fff;
    text-shadow:
      -1px -1px 1px #000,
      -2px -2px 1px #000,
      1px 1px 1px #000,
      2px 2px 1px #000,
      1px -1px 1px #000,
      2px -2px 1px #000,
      -1px 1px 1px #000,
      -2px 2px 1px #000;
    font-size: 2rem;

    @include breakpoint(laptop) {
      max-width: 65%;
      font-size: 2.25rem;
      margin: 0 auto;
    }
  }

  &:hover {
  }
}

.blog-title {
  @extend .page-title;
  min-height: 75vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include card(-3);
  // background-color: var( --color );
  // background-blend-mode: screen ;

  @include breakpoint(laptop) {
    margin-bottom: -7vh;
  }

  .blog-title__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
  }

  .page-title__content {
    background: transparentize(#000, 0.5);
    backdrop-filter: blur(3px);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }

  h1,
  h2,
  h4 {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    padding: 0.1em 1em;
    display: block;
  }

  .post__meta {
    margin: 0;
    padding: 0.1em 1em;

    color: #fff;
    font-size: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .post__tags,
    .post__date,
    .post__time,
    .post__unlisted {
      padding: 0 0.5em;
      svg {
        filter: drop-shadow(1px 1px 0 var(--color));
        margin-right: 0.5em;
      }
    }

    @include breakpoint(laptop) {
      div {
        border-right: 1px solid #ccc;

        &:last-child {
          border-right: none;
        }
      }
    }
  }
}
