[class*="pausing-css-animations-on-hover"] {
  .box1 {
    display: inline-block;
    background: var(--color);
    color: var(--text-color);
    height: 10rem;
    width: 10rem;
    border-radius: var(--border-radius);
    animation: pulse 3s infinite;
    vertical-align: middle;
    margin: 0 1em;
  }

  .box2{
      @extend .box1;

      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 0.8em;
      line-height: 1em;

      &:after{
          content: "Hover Me";
      }

      &:hover{
        animation-play-state: paused;

        &:after{
            content: "See? I Stopped";
        }
    }
  }
}
