.project--bottleRocketHotSauceV2{

    

    @include breakpoint(laptop){

        #scroll-down{
            display: flex;
            width: 100%;
            height: 1rem;
            i,svg{
                height: 3rem;
        }}
        [id$="-floating-checkout-button"]{
            margin-top: 4rem;
        }
        
        [id$="-ajax-order-form"]{
            margin-top: 68rem;
        }

        [id$="-one-of-each-buttons"]{
            margin-top: 50rem;
        }

        [id$="-multiple-products-and-variations"]{
            margin-top: 5rem;
        }

        [id^="go-buy-some-sauce"]{
            margin-top: 25rem;
        }
    }
}



.project__card.project--strichCustoms{
    .logo__wrapper{
        .logo{
            height: calc(100% + 5rem);
        }
    }
}


.project__card.project--nationalRoofing{

    .logo__wrapper{
        .logo{
            width: 100%;
            // margin-top: -3rem;
        }
    }

}