.page_body--grid {
  .projects {
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
    justify-content: flex-start;
    grid-gap: 4rem;

    @include breakpoint(laptop) {
      grid-template-columns: repeat(3, 1fr);
      max-width: 95%;
      margin: 0 auto 5rem;
    }
  }
}

.project__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0.5em auto;
  @include card(1);
  border-radius: var(--border-radius);

  &:hover {
    @include hardShadow(15, #fff);
  }
}

.project__card {
  width: 100%;
  padding: 1em;

  .logo__wrapper {
    margin-bottom: 1em;
    height: 8em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    .project__title {
      text-align: center;
      margin: 0 auto;
      font-weight: 900;
    }
  }

  .card__titles {
    background: #fff;
    padding: 0.5em;
    margin: 0;

    // @include card(-2);

    .project__title {
      color: #333;
      text-align: center;
      margin: 0;
      font-size: 1.5rem;
      font-weight: 900;
    }

    .project__description {
      color: #333;
      text-align: center;
      margin: 0;
      font-size: 1.5rem;
    }
  }

  .project__tags {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    font-size: 1em;
    font-weight: 100;
    width: auto;
    margin: 0 4rem;
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    li {
      list-style: none;
      padding: 0 0.25em;
      margin: 0;
      span {
        font-size: 0.8em;
      }

      svg {
        margin-right: 0.07em;
      }
    }
  }

  &--small {
    padding: 0.5em;

    .logo__wrapper {
      height: 4em;
      width: 100%;
    }
    .card__titles {
      display: grid;
      align-items: center;
      padding: 0.5rem;
      .project__title {
        font-size: 2rem;
      }

      .project__description {
        font-size: 1.15rem;
      }
    }
    .project__tags {
      li {
        &:after {
          content: "";
        }
      }
      span {
        display: none;
      }
    }
  }
}

.project__logo {
  margin-bottom: 1em;
  width: 100%;

  .project__link {
    margin-bottom: 1em;
  }

  .project__card {
    @include breakpoint(laptop) {
      padding: 1em 30vw 1em;
    }

    .card__titles {
      @include card(1);
      // width: 100%;
    }
  }
}

.project__body {
  display: grid;

  align-items: flex-start;

  grid-template-columns: 1fr;

  @include breakpoint(laptop) {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 80vw;
    width: 100%;

    &--no-images {
      max-width: 1280px;
      grid-template-columns: 1fr;
    }
  }

  .button {
    margin-bottom: 2rem;

    &:last-of-type {
      margin-bottom: 0;
      margin-top: 2rem;
    }
  }

  .project__images {
    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

    img {
      width: 100%;
      margin-bottom: 2rem;
      @include card(1);
    }

    position: relative;

    @include breakpoint(laptop) {
      position: sticky;
      top: 3em;
      margin: -3em 0;
    }
  }

  .project__content {
    margin: 1em auto;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include breakpoint(laptop) {
      margin: 2em auto;
      width: 100%;
    }

    p {
      width: 100%;
      max-width: 100%;
      line-height: 1.8;
      margin: 0.5em auto;

      font-size: 1em;
    }

    ul {
      max-width: 80%;

      @include breakpoint(laptop) {
        max-width: 75%;
        width: 100%;
      }

      li > p {
        margin-bottom: 0;
      }
      li > ul {
        margin: 0;
        li {
          list-style: circle;
        }
      }
    }

    ol {
      @extend ul;
      list-style: decimal;

      li {
        margin-bottom: 0.25em;
        p {
          margin: 0;
        }
        & > ol {
          margin: 0.5em 1em 0.5em 3em;
        }
      }
    }

    .project__text {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1,
      h2,
      h3,
      h4,
      h5 {
        text-align: center;
      }
    }

    .gatsby-resp-iframe-wrapper {
      width: 100%;
    }
  }
}

.recent-projects {
  @extend .latest-posts;
  width: 100%;
  @include breakpoint(laptop) {
    width: 50%;
  }

  .project__title {
    font-size: 1.5em;
  }
}

.projectNavigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 50vw;
  width: 95%;
  margin: 3em auto;
  border-top: 10px solid var(--color);

  @include breakpoint(laptop) {
    max-width: 70vw;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;

    @include breakpoint(laptop) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    li {
      list-style: none;

      margin: 0;
    }
  }
}

.project__header {
  @extend .project__card;

  padding: 1rem;

  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;

  @include breakpoint(laptop) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 1rem 10vw;

    &--no-logo {
      grid-template-columns: 1fr;
    }
  }

  .logo__wrapper {
    margin: 1rem auto;
    height: 15rem;
  }
  .logo {
    @include breakpoint(laptop) {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  .header__titles {
    background: #fff;
    padding: 0.5em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: -3rem;
    @include card(1);
  }

  .project__title {
    color: #333;
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  .project__description {
    color: #666;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
  }

  .project__tags {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #999;
    font-size: 1rem;
    font-weight: 100;
    margin: 0.5em;
    background: none;
    width: 100%;

    a {
      list-style: none;
      padding: 0.25em;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      i,
      svg {
        font-size: 2rem;
        color: $black;
      }
      span {
        font-weight: 400;
      }
    }
  }
}

@import "customPortfolioCSS";
