.mood__container {

    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 10px solid #fff;
    font-family: serif;
}



#goesRight {

    color: #fff;


    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 100;
    }

    .strikeThrough {
        position: relative;
        display: inline-block;
        color: transparentize($color: #fff, $amount: 0.5);

        &:after {

            content: '';
            width: 110%;
            height: 10px;
            background: var( --color );
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(5deg);
            box-shadow: 0 3px 5px #000;
            z-index: 2;
        }

   

        .char {

            animation: rotate 7s infinite alternate;
            transform-origin: 50% 0%;
            display: inline-block;

            &:nth-of-type(1) {

                transform: rotate(15deg);
                animation-delay: -1s;
            }


            &:nth-of-type(2) {

                transform: rotate(25deg);
                animation-delay: -2s;
            }

            &:nth-of-type(3) {

                transform: rotate(3deg);
                animation-delay: -3.25s;
            }

            &:nth-of-type(4) {

                transform: rotate(3deg);
                animation-delay: -5s;
            }
        }
    }


    .right {
        font-weight: 900;
        position: relative;
        font-size: 2em;

        &:after {
            content: "Right?";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            animation: glow 10s infinite;

            transform-origin: 0% 50%;
        }
    }
}


@keyframes glow {

    0% {
        transform: scale(1);
        opacity: 0.8
    }

    10% {
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}


@keyframes rotate {


    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(15deg);

    }

    20% {
        transform: rotate(-12deg);
    }


    30% {
        transform: rotate(8deg);
    }

    40% {
        transform: rotate(-6deg);
    }

    50% {
        transform: rotate(3deg);

    }

    60% {
        transform: rotate(-2deg);
    }


    70% {
        transform: rotate(1deg);
    }

    80% {

        transform: rotate(-1deg);

    }

    90% {

        transform: rotate(-1deg);

    }





    100% {
        transform: rotate(0deg);
    }



}