#hire-me-form {
    width: 65%;
    border-top: 20px solid #fff;
    border-bottom: 20px solid #fff;

    select {
        width: 100%;
        font-size: 1.5rem;
        background: rgba(255, 255, 255, 0.1);
        border: none;
        border-bottom: 2px solid #fff;
        color: #fff;
        
    }
    .checkboxes {
        label {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0.5rem;
            border: 1px solid #fff;
            margin-bottom: 0.25rem;
            cursor: pointer;
            transition: 300ms;

            &:hover {
                transition: 100ms;

                border-color: var(--color);
            }
        }

        input[type=checkbox] {
            width: auto;
            display: block;
            align-self: center;
            position: absolute;
            height: 1px;
            width: 1px;
            left: -99999px;

            &:checked {
                &+label {
                    transition: 400ms;

                    background: var(--color);
                    border-color: var(--darker-color);
                    font-weight: bold;
                }
            }
        }
    }
}