.service {
    .brand-perks__grid {
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 0.5rem;
        }
    }

    .shopify-bg {
        background: var(--color) url("../images/logos/shopify-bg.png") repeat;
        background-size: 300px;
        will-change: background-position;
        animation: slideBG 8000ms infinite linear;
        h2 {
            
            color: #fff;
            font-weight: 900;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
            @include breakpoint(laptop) {
                font-size: 4rem;
            }
        }
    }

    .project-grid {
        h2 {
            margin: auto;
            text-align: center;
            
            @include breakpoint(laptop) {
                width: 70%;
                text-align: right;
            }
        }
    }

    &--shopify {
        --color: #95bf47;
    }

    &--bigcommerce {
        --color: #0d52ff;
    }
}


@keyframes slideBG {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 300px 300px;
    }
}