#svgWrapper {
    height: 100vh;
    width: 100%;

    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
    overflow: hidden;
    @include breakpoint(tabletdown){
        overflow:hidden;
    }


    svg {
        width: 400%;
        height: 100%;
        object-fit:cover;
        object-position: center bottom;
        @include breakpoint(laptop){
            width: 101%;
        }
    }

    & ~ * {
        z-index: 2;
        position: relative;
    }

    &.slim{
            height: 25vh;
            padding: 0;
        @include breakpoint(laptop){
            
            height: 50vh;
        }
    }
}
