.tag__card {
  background: #fff;
  color: #212121;

  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  transition: 300ms;
  &:hover {
    @include hardShadow(15, var(--darker-color));
  }

  & > svg {
    margin: 1rem auto;
    font-size: 4rem;

    padding: 0.15em;
    background: var(--color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    vertical-align: middle;
    transform: scale(1.25);
  }

  h3 {
    margin: 0rem auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
  }

  h4 {
    text-align: center;
    font-size: 1rem;
    margin: 0 auto 1rem;
  }

  .tag__post-preview {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 0 1rem;
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;

    div {
      position: relative;
      
      padding-top: 100%;
      height: 100%;
      color: #fff;

      @include breakpoint(tabletdown) {
        &:nth-of-type(3){
          display: none;
        }
      }
    }

    img {
      margin: 0 auto;
      width: 95%;
      height: 95%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }

    &--portfolio {
      grid-template-columns: repeat(2, 1fr);

      @include breakpoint(laptop) {
        grid-template-columns: repeat(3, 1fr);
        
      }

      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.top-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  width: 100%;

  flex-direction: column;

  @include breakpoint(laptop) {
    max-width: 95%;
    flex-direction: row;
  }
  ul {
    margin: 0.5em auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(laptop) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
      place-items: center;
    }

    &:hover {
      li {
        opacity: 0.7;
        color: var(--color);
      }
    }
  }

  li {
    list-style: none;
    margin: 0;
    width: 100%;
    transition: filter 300ms linear, opacity 300ms;
    will-change: filter;
    filter: none;

    &:first-of-type {
      padding: 0;
    }

    @include breakpoint(tabletdown) {
      &:nth-of-type(1n + 5) {
        display: none;
      }

      &:last-of-type {
        display: flex;
      }
    }

    &.top-tag {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        font-size: 0.8rem;

        @include breakpoint(laptop) {
          font-size: 1.5rem;
        }

        svg {
          font-size: 3em;
          margin: 0.5rem;
          position: relative;
          top: 0;
          transition: top 300ms cubic-bezier(0.175, 0.885, 0.32, 1) 100ms;
        }
      }
    }

    &:hover {
      @include hardShadow(3, var(--darker-color), true);
      opacity: 1 !important;
      color: #fff !important;
      a {
        svg {
          position: relative;
          animation: bounce 300ms alternate infinite;          transition: top 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 100ms;
          color: #fff;
        }
      }
    }

    &.more-tags {
      @extend .top-tag;
    }
  }
}
