.buttons {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    justify-content: center;
    

    @include breakpoint(laptop){
        width: 80%;
    }

}

.or {
    //   height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    height: 2em;
    width: 2em;
    border-radius: 2em;
    background: #fff;
    color: var(--color);
    background: var(--text-color);
    align-self: center;
    justify-self: center;
    margin: 1em;
    user-select: none;


    &.tall {

        position:relative;
        z-index: 3; 

        &:before {
            width: 200%;
            height: 3px;
            border-radius: 3px;
            content: '';
            background: var(--text-color);
            position: absolute;
            z-index: -1;

        }

        @include breakpoint(laptop){
        &:before {
            width: 3px;
            height: 70%;
            content: '';
            border-radius: 3px;

            background: var(--text-color);
            position: absolute;
        }


            
        }

    }

    &.wide {
        position:relative;
        z-index: 3; 


        &:before {
            width: 200%;
            height: 3px;
            border-radius: 3px;
            content: '';
            background: var(--text-color);
            position: absolute;
            z-index: -1;

        }

    }

}