.main_head {
    .main_nav {
        display: none;

        &.is-open {
            display: flex;
            position: absolute;
            bottom: 0;
            flex-direction: column;
            width: 100%;
            transform: translateY(100%);
            background: #333;
        }

        @include breakpoint(laptop) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            grid-column-start: 3;
            position: relative;
        }

        a {
            color: #fff;
            padding: 0.5em;

            &:hover {
                background: transparentize($color: #fff, $amount: 0.8);
            }

            @include breakpoint(mobileonly) {
                font-size: 1.25em;
                border-bottom: 1px solid #ccc;
            }

            &.button {
                background: var(--color);
                color: var(--text-color);
                border-radius: var(--border-radius);
                margin: 0 0.5rem;

                @include breakpoint(mobileonly) {
                    margin: 0;
                    width: 100%;
                    border-radius: 0;
                }

                &:hover {
                    background: var(--darker-color);
                }
            }
        }

        #colorSwitcher {
            padding: 0.5em;
            margin-right: auto;

            @include breakpoint(mobileonly) {
                width: 100%;
                align-items: flex-start;
                text-align: left;
                font-size: 1em;
                order: -1;
                border-bottom: 1px solid #ccc;

                svg {
                    font-size: 1.5em;
                    vertical-align: middle;
                }
                &:after {
                    content: "Pick A Color";
                    margin: 0 0 0 0.5rem;
                    font-size: 1.25em;
                    font-weight: 900;
                }
                &:hover{
                    background: var(--color);
                    color: var(--text-color);
                }
            }
        }
    }

    #mobileMenuToggle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: none;
        color: #fff;
        border: none;
        width: auto;

        svg {
            font-size: 2em;
        }

        &:after {
            content: "MENU";
            letter-spacing: 2px;
            font-size: 0.8rem;
        }

        @include breakpoint(laptop) {
            display: none;
        }
    }
}

.main_footer {
    .main_nav {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        margin: 1em auto;

        @include breakpoint(laptop) {
            display: flex;
        }

        a {
            color: #fff;
            padding: 0.5em;
            text-align: center;

            &:hover {
                background: transparentize($color: #fff, $amount: 0.8);
            }

            &.button {
                background: var(--text-color);
                color: var(--color);
                border-radius: var(--border-radius);
                margin: 0 0.5rem;
                width: auto;
            }
        }
    }

    #mobileMenuToggle {
        display: none;
    }
}
