.main_head {
    .main_nav {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translateY(-120vw);
        z-index: 9999999999;
        transition: 300ms;
        width: 100%;
        padding: 1rem;
        height: 100%;
        opacity: 0;

        &.is-open {
            background: #fff;
            transform: translateY(0);
            @include card(3);
            opacity: 1;
            min-height: 80vh;
            max-height: 100vh;
            overflow-y: auto;
            padding: 0;
        }

        @include breakpoint(laptop) {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            transform: none;
            opacity: 1;
            position: relative;
            margin-left: auto;
        }

        a {
            color: #fff;
            padding: 0.5em;
            transition: 500ms;
            position: relative;

            &:hover {
                background: transparentize($color: #fff, $amount: 0.8);
                transition: 100ms;
            }

            @include breakpoint(tabletdown) {
                font-size: 1.25em;
                border-bottom: 1px solid #ccc;
                color: var(--color);
                text-align: center;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &.active {
                &:after {
                    content: "";
                    width: 100%;
                    height: 3px;
                    background: #fff;
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }

            &.button {
                background: var(--color);
                color: var(--text-color);
                border-radius: var(--border-radius);
                margin: 0 0.5rem; 
                padding: 0.75rem 3rem;

                @include breakpoint(tabletdown) {
                    margin: 0;
                    width: 100%;
                    border-radius: 0;
                }

                &:hover {
                    background: var(--color);
                }
            }
        }

        #colorSwitcher {
            padding: 0.5em;

            @include breakpoint(tabletdown) {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: left;
                font-size: 1.25em;
                border-bottom: 1px solid #ccc;

                svg {
                    font-size: 1.5em;
                    margin-right: 0.5ch;
                    vertical-align: middle;
                }
                &:after {
                    content: "Pick A Color";
                    margin: 0 0 0 0.5rem;
                    color: var(--color);
                    font-weight: 900;
                }
            }
            &:hover {
                color: var(--color);
            }
        }

        .nav-submenu__wrapper {
            position: relative;

            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: stretch;
            height: 100%;
            

            @include breakpoint(laptop) {
                height: unset;
            }

            i,
            svg {
                transition: 300ms;
                margin-left: 0.5rem;
                line-height: 1;
                @include breakpoint(laptop) {
                    margin-left: 0;                    
                }
            }
            .nav-submenu__submenu {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;

                @include breakpoint(laptop) {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: translateY(100%);
                    min-width: 250px;
                    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
                    border: 2px solid #fff;
                    border-radius: 5px 0 5px 5px;

                }

                a {
                    width: 100%;
                    color: #fff;

                    &.active {
                        padding-left: calc(0.5em + 5px);
                        &:after {
                            content: "";
                            width: 5px;
                            height: 100%;
                            background: var(--color);
                            display: block;

                            @include breakpoint(laptop) {
                                background: #fff;
                            }
                        }
                    }
        
                }
                svg {
                    margin-right: 0.5em;
                }
            }

            &.is-open {
                > a {
                    background: #fff;
                    color: var(--color);
                }
                svg.caret {
                    transform: rotate(180deg);
                }

                .nav-submenu__submenu {
                    background: #000;
                }
            }
        }
    }

    #mobileMenuToggle {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: none;
        color: #fff;
        border: none;
        width: auto;

        svg {
            font-size: 2em;
        }

        &:after {
            content: "MENU";
            letter-spacing: 2px;
            font-size: 0.8rem;
        }

        &.is-open {
            &:after {
                content: "CLOSE";
            }
        }

        @include breakpoint(laptop) {
            display: none;
        }
    }

    #mobileMenuBG {
        background: linear-gradient(to top, var(--color), var(--cyan), var(--darker-color));
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translateY(-120vw);
        width: 100vw;
        z-index: -1;
        opacity: 0;
        border: none;
        transition: 1000ms;
        padding-bottom: 0;

        &.is-open {
            display: flex;
            transform: translateY(0);
            padding-bottom: 30vh;
            opacity: 0.8;
            height: 120vh;
        }

        @include breakpoint(laptop) {
            display: none;
        }
        svg {
            margin: auto auto 0;
            color: #fff;
            font-size: 3rem;
        }
    }
}

.main_footer {
    .main_nav {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        margin: 1em auto;

        @include breakpoint(laptop) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        a {
            color: #fff;
            padding: 0.5em;
            text-align: center;
            width: auto;

            &:hover {
                background: transparentize($color: #fff, $amount: 0.8);
            }

            &.button {
                background: var(--text-color);
                color: var(--color);
                border-radius: var(--border-radius);
                margin: 0 0.5rem;
                width: auto;
                grid-column: 1 / -1;
                
            }
        }
    }

    .secondary_nav {
        @extend .main_nav;

        em {
            white-space: nowrap;
            padding-right: 0.5em;
            text-align: center;
        }
    }

    #mobileMenuToggle,
    #mobileMenuBG {
        display: none;
    }
}
