.task-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    margin: 1em auto;

    @include breakpoint(laptop) {
        width: 80%;

        grid-template-columns: repeat(2, 1fr);
    }

    p {
        max-width: 90%;
        display: block;
        margin: 1em auto;

        @include breakpoint(laptop) {
            max-width: 80%;

            margin: 3em auto;
        }
    }

    h3 {
        border-bottom: 1px solid #ccc;
        font-weight: 900;

        &:last-child {
            border-bottom: none;
            grid-column: 1 / -1;
            text-align: center;
        }
    }
}