#hireMeBanner{
	position:fixed;
	bottom:0;
	right:0;
	width:10vw;
	height:auto;
	transform-origin: 100% 100%;
	transition:all 300ms; 
	&:hover{
		transform:scale(1.05);
	}

	@include breakpoint(tabletdown){
		width:25vw;
	}
}

#followMeBanner{

	position:fixed;
	top:0;
	left:0;
	width:10vw;
	height:auto;
	transform-origin: 0 0;
	transition:all 300ms; 
	
	@include breakpoint(tabletdown){
		width:25vw;
	}
}


#followMeBanner, #hireMeBanner{

	opacity: 0;
}

