.tagline {
  width: 100%;

  @include breakpoint(laptop) {
    width: 80%;
  }
}

h2.tagline {
  margin-bottom: 1em;
}

p.tagline {
  text-align: left;
  margin-bottom: 0.5em;
  // font-size: 2em;


  &.sub-tagline {
    font-size: 1.25em;
    margin-bottom: 3em;
  }
}


.things {
  width: 100%;
  display: flex;
  flex-direction: column;

  &:before {
    content: "Tap to Learn More";
    text-align: center;
    font-style: italic;
    display: block;
    margin: 0 auto 1em;
    color: #999;
    transition: all 300ms;

    @include breakpoint(laptop) {
      content: "Click to Learn More";
    }
  }

  @include breakpoint(laptop) {
    width: 80%;

  }
}

.things__tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1em;

  @include breakpoint(laptop) {
    display: flex;
    margin-bottom: 0;
  }
}

.things__body {
  display: none;
  z-index: 2;
  background: #fff;
  border: 2px solid #ccc;
  box-shadow: 0 -5px 5px -2px transparentize(#000, 0.8);

  @include breakpoint(laptop) {
    padding: 1rem;
    margin: 0 1rem;
  }

  & * {
    z-index: 3;
  }

  .content {
    display: none;
    margin: 0 auto;

    @include breakpoint(laptop) {
      width: 80%;
    }

    h3 {
      margin-top: 0.5em;
      font-weight: 900;
    }

    p {
      line-height: 1.5em;
      margin-bottom: 0.5em;

      @include breakpoint(laptop) {
        font-size: 2em;
      }
    }

    .buttons {
      display: flex;
      grid-column-gap: 1em;
      flex-direction: column;

      @include breakpoint(laptop) {
        flex-direction: row;
      }

      .button {
        width: 100%;
        padding: 0.5em;
        background: var(--color);
        color: #fff;
        font-weight: 900;

        &:nth-of-type(2) {
          background: white;
          color: var(--color);
          border: 2px solid var(--color);
          font-weight: 400;
        }
      }
    }
  }
}

.thing {
  // min-height: 25vh;
  width: 100%;
  padding: 1em;
  margin: 0;
  height: auto;
  // box-shadow: 0 2px 5px -1px transparentize(#000, 0.4);
  border-radius: var(--border-radius);
  display: flex;
  transition: all 300ms;
  align-items: center;
  justify-content: center;

  @include breakpoint(laptop) {
    margin: 0 1em;
  }

  @include breakpoint(tabletdown) {
    &:nth-of-type(1) {
      border-radius: 10px 10px 0 10px;
    }

    &:nth-of-type(2) {
      border-radius: 10px 10px 10px 0;
    }

    &:nth-of-type(4) {
      border-radius: 0 10px 10px 10px;
    }

    &:nth-of-type(3) {
      border-radius: 10px 0 10px 10px;
    }
  }

  img {
    height: auto;

    transition: all 300ms;
    width: 100%;
    display: block;

    &:hover {
      transform: scale(1.05);
    }
  }
}

$tabHeight: 7vw;

.things.is-open {
  &:before {
    opacity: 0;
    margin: 0;
  }

  .thing {
    filter: grayscale(1);

    &:hover {
      filter: grayscale(0.7);

      svg {
        filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.3));
      }
    }

    @include breakpoint(laptop) {
      height: $tabHeight;
      border-radius: 10px 10px 0 0;
    }

    &.is-open {
      z-index: 3;
      filter: none;

      &:hover {
        filter: none;
      }
    }

    a {
      transition: 300ms;

      &:focus {
        outline: none;
        margin-top: -10px;
        filter: none;
      }
    }
  }

  .things__body {
    display: flex;
    padding: 1em;

    .content.is-open {
      display: flex;
      flex-direction: column;
      z-index: 3;
    }
  }
}





.workOrHire {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  width: 100%;
  flex-direction: column;


  @include breakpoint(laptop) {
    width: 80%;

    flex-direction: row;
  }

  .work,
  .hire {
    width: 100%;
    flex: 1;
    padding: 1em;
    transition: 300ms;

    background: #fff;
    // border-radius: 1px;
    box-shadow: 0 2px 3px transparentize(#000, 0.7);
    color: #000;

    h3 {
      text-align: center;
      margin-top: 0;
    }

    p {
      font-size: 1em;

      &:last-of-type {

        margin-bottom: 0;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      font-weight: 900;
    }
  }





}

.more-link{
  text-align: right;
  font-size: 1.5rem;
  margin: 0;

  @include breakpoint(laptop){
    grid-column: 1 / -1;
  }
}