@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Roboto:300,400,900&display=swap');

@import "reset";
@import "vars";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;

}


body {
  background-color: white;
  font-weight: 400;
  line-height: 1.45;
  color: #333;


  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

p {
  margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 7.594em;
}

h2 {
  font-size: 5.063em;
  font-family: "Roboto Slab", serif;
}

h3 {
  font-size: 3.375em;
  font-family: "Roboto Slab", serif;

}

h4 {
  font-size: 2.25em;
}

h5 {
  font-size: 1.5em;
}

small,
.text_small {
  font-size: 0.667em;
}

b{
  font-weight: 900;
}

a {
    font-weight: 900;
    text-decoration: none;
    color: inherit;
    transition: 300ms;

    &:hover {
      opacity: 0.6;
    }
  }



#scrollIndicator {
  position: absolute;
  bottom: 1rem;
  font-size: 1em;
  animation: fadeIn 1s 3s, bounce 7s infinite ease-out;
  animation-fill-mode: backwards;
  @include breakpoint(laptop) {
    font-size: 3em;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    margin-bottom: 0;
  }
  25% {
    margin-bottom: 0.25em;
  }

  50% {
    margin-bottom: 0;
  }
  75% {
    margin-bottom: 0.75em;
  }
  100% {
    margin-bottom: 0;
  }
}

.full {
  width: 100vw;
  padding: 1em;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include breakpoint(mobileonly) {
    align-items: flex-start;
  }

  &.black {
    color: #fff;
    background: #000;
  }

  &.pink {
    background: $pink;
    color: #fff;
  }

  &.white {
    background: #fff;
    color: #000;
  }
}

.half {
  @extend .full;

  min-height: 50vh;
}

.slim {
  @extend .full;
  min-height: 10vh;
}

.title__box {
  border-bottom: 2px solid #fff;
  min-height: 1em;
  min-width: 1em;
  display: inline-flex;
  vertical-align: top;
  //   padding: 0.5em;
}

.title {
  padding: 0 0.25em;
  display: block;
  min-width: 1em;
  min-height: 1em;
  font-family: "Roboto Slab";
  font-weight: 900;
  color: $pink;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, 1px 1px 1px #000, 2px 0 1px #000, 0 2px 1px #000, 2px 2px 1px #000,
    -1px 0 1px #000, 0 -1px 1px #000, -1px -1px 1px #000, -2px 0 1px #000, 0 -2px 1px #000, -2px -2px 1px #000;
  line-height: 0.9em;
}

.introduction {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // opacity: 0;

  @include breakpoint(laptop) {
    width: 70%;
  }

  h1,h2{
    margin-bottom: 0;
    width: 100%;
    line-height: 0.7em;
    text-align: center;
  }
  h2{
    font-size: 4em;
    font-weight: 100;
  }
}

@import "components/components";

@import "things";
@import "contact";
@import "hireMe";
@import "banners";
