.half.verts {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    grid-gap: 5rem;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 3rem;

    @include breakpoint(laptop) {
        grid-template-columns: 1fr 1fr;
    }

    .vert {
        align-self: flex-start !important;
    }
}

.vert {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    align-self: center;
    position: relative;
    border: 2px solid #fff;
    border-left: none;
    border-right: none;
    padding: 1rem;

    a{
        color: inherit;
    }

    p {
        text-align: center;
        font-size: 1.5rem;
    }

    h2 {
        font-weight: 900;
        font-family: "Roboto";
    }

    img {
        max-width: 100%;
        display: block;
    }

    &--with-icon {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 1rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    a.button,
    button.button {
        grid-column: 1 / -1;
        background: var(--color);
        font-size: 1.5rem;
        padding: 0.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 2ch;
            width: auto;

            display: block;
        }
    }

    &:after {
        content: "Ad";
        background: rgba(#fff, 0.3);
        color: #fff;
        position: absolute;
        top: 0;
        right: 1em;
        padding: 0.25em;
        border-radius: 0 0 var(--border-radius) var(--border-radius);
        font-weight: 100;
        font-size: 0.8rem;
    }

    &:hover {
        color: #fff;
    }
}

.post__post-content {
    .vert {
        width: 100%;
        margin: 1em auto 3em;
        @include breakpoint(laptop) {
            padding: 3em;
            width: 80%;
        }
    }
}

.blog-posts,
.projects {
    .vert {
        grid-column: auto / span 2;
        margin: 0 auto 3rem;

        @include breakpoint(laptop) {
            width: 85%;
            margin: 0 auto;
        }

        @include breakpoint(wide) {
            width: 75%;
            margin: 0 auto;
        }
    }
}

.vert--newsletter {
    background: #fff;
    width: 70%;
    margin: 0 auto;
    border-radius: var(--border-radius);
    padding: 1rem;

    .title__box {
        border-bottom-color: var(--text-color--inverted);
    }
}

.vert--brave {
    $braveOrange: #fb542b;
    grid-gap: 1rem;

    grid-template-columns: 1fr;
    @include breakpoint(desktop) {
        grid-template-columns: 1fr 2fr;
    }
    .vert__img-wrap {
        border-radius: 10px;
        grid-row: 1 / span 2;

        display: flex;
        padding: 1rem;
        background: $braveOrange;
        @include hardShadow(10, darken($braveOrange, 20));
        margin-bottom: 10px;
    }

    .vert__content {
        width: 80%;
        margin: 0 auto;
    }

    a.button,
    button.button {
        background: $braveOrange;

        color: #fff;
    }
}

.vert--gridgospel {
    padding: 1rem;
    align-items: center;
    grid-gap: 0;
    grid-template-columns: 1fr;

    background: #f6e048;
    color: #333;
    border-radius: var(--border-radius);

    @include breakpoint(desktop) {
        grid-template-columns: 4fr 5fr;
    }

    @include breakpoint(tabletdown) {
        margin-top: calc(35vh / 2) !important;
    }

    .vert__content {
        align-items: center;
        display: flex;
        flex-direction: column;

        .book__title {
            padding: 1rem 0;
        }

        h1,
        h2,
        h3,
        h4 {
            margin: 0 auto;
        }

        h3 {
            font-size: 1.5rem;
            margin-bottom: 0.5em;
        }

        ul {
            margin: 0 auto;
        }

        p {
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 0;
        }
    }

    ul {
        text-align: center;
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
        li {
            font-size: 1rem;
            font-weight: 400;
            list-style: none;
        }
    }

    .vert__img-wrap {
        order: -1;
        border-radius: 10px;
        width: 100%;
        height: 35vh;
        display: flex;
        filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.4));

        @include breakpoint(tabletdown) {
            margin: calc(35vh / -2) 0 0;
        }

        @include breakpoint(desktop) {
            grid-row: 1;
        }
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    a.button,
    button.button {
        background: #333;
        color: #fff;
        width: 100%;

        @include breakpoint(desktop) {
            grid-column: 1 / span 2;
        }

        &:hover {
        }
    }

    &:hover{
        button.button {
                @include hardShadow(5, #222);
        }
    }
}

.vert--moreWithLess {
    color: #fff;
    padding: 1rem;
    grid-template-columns: 1fr;
    border-width: 15px;

    .moreWithLess__header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-bottom: 1rem;
        grid-gap: 1rem;
        @include breakpoint(laptop) {
            grid-template-columns: 2fr 3fr;
        }
        h2 {
            text-align: right;
            line-height: 1;
            margin: 0;
        }
        h3 {
            text-align: left;

            font-size: 1.5rem;
        }
    }

    .vert__content {
        display: grid;
        width: 100%;

        .product-grid {
            display: grid;
            width: 100%;
            grid-gap: 1rem;
            grid-template-columns: 1fr 1fr;
            @include breakpoint(laptop) {
                grid-template-columns: 2fr 2fr 2fr 1fr;
                margin-bottom: 2rem;
            }
        }

        .product__title {
            opacity: 0;
            transition: 300ms;
            text-align: left;
            height: 100%;

            font-size: 1rem;

            @include breakpoint(laptop) {
                font-size: 0.8rem;
            }
        }

        a.product__image-wrapper {
            width: 100%;

            position: relative;
            transition: 300ms;
            top: 0;
            display: grid;
            place-items: center;

            animation: bounceSlow 7000ms infinite;
            &:nth-of-type(1) {
                animation-delay: 1000ms;
            }
            &:nth-of-type(2) {
                animation-delay: 2000ms;
            }
            &:nth-of-type(3) {
                animation-delay: 3000ms;
            }
            &:nth-of-type(4) {
                animation-delay: 4000ms;
            }
            &:nth-of-type(5) {
                animation-delay: 5000ms;
            }
            &:nth-of-type(6) {
                animation-delay: 6000ms;
            }

            &:hover {
                top: -1rem;
                transition: 100ms;

                .product__title {
                    opacity: 1;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                background: #fff;
                border-radius: var(--border-radius);
            }

            svg {
                color: #999;
            }
        }
    }

    a.button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        padding: 0.5em;
        position: relative;
        top: 0;
        transition: 300ms;
        border-radius: var(--border-radius);

        @include breakpoint(laptop) {
            grid-column-start: 4;
            grid-column-end: 4;
            grid-row-start: 1;
            margin: 0 0 0.8em;
            flex-direction: column;
            grid-row-end: span 2;
        }
        svg {
            font-size: 2em;
            margin: 0.25rem;
            transition: 300ms;
        }

        .label {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
            justify-content: center;

            strong {
                font-size: 1.5em;
            }
            span {
                grid-column: 2;
                grid-row: 1 / span 2;
            }
        }

        &:hover {
            top: -1rem;
            transition: 100ms;

            box-shadow: none;
            svg {
                font-size: 2.5em;
                transition: 100ms;
            }
        }
    }
}

.vert--digitalocean {
    $digitalOceanBlue: #0069fe;
    $darkerDigitalOceanBlue: darken($digitalOceanBlue, 20);
    color: #fff;
    border: none;
    grid-template-columns: 1fr;
    @include breakpoint(laptop) {
        grid-template-columns: 1fr 3fr;
    }

    h2,
    h3 {
        margin: 0 0 0 auto;
        width: 100%;
        text-align: right;
    }
    a.button,
    button.button {
        background: #fff;
        margin: 0 auto;
        width: 100%;
        color: #0069fe;
        @include breakpoint(desktop) {
            grid-column: 1;
        }

        &:hover {
            @include hardShadow(5, $darkerDigitalOceanBlue);
        }
    }

    .vert__content {
        display: flex;

        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-self: center;
    }

    .vert__img-wrap {
        background: #0069fe;
        @include hardShadow(10, $darkerDigitalOceanBlue);
        padding: 1rem;

        border-radius: var(--border-radius);
        grid-row: 1;

        @include breakpoint(desktop) {
            grid-row: 1 / span 2;
            grid-column: 2;
        }
    }
}

.vert--nordvpn {
    $nordVPNBlue: #4687ff;
    $darkerNordVPNBlue: darken($nordVPNBlue, 20);
    color: #fff;
    border: none;
    grid-template-columns: 1fr;
    @include breakpoint(laptop) {
        grid-template-columns: 1fr 3fr;
    }

    h2,
    h3 {
        margin: 0 0 0 auto;
        width: 100%;
        text-align: left;
    }
    a.button,
    button.button {
        background: #fff;
        margin: 0 auto;
        width: 100%;
        color: $nordVPNBlue;
        @include breakpoint(desktop) {
            grid-column: 2;
        }

        &:hover {
            @include hardShadow(5, $darkerNordVPNBlue);
        }
    }

    .vert__content {
        display: flex;

        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-self: center;
    }

    .vert__img-wrap {
        background: #fff;
        // @include hardShadow(10, $nordVPNBlue);
        border: 10px solid $nordVPNBlue;
        border-bottom-color: $darkerNordVPNBlue;
        border-right-color: $darkerNordVPNBlue;
        padding: 1rem;

        border-radius: var(--border-radius);
        grid-row: 1;

        @include breakpoint(desktop) {
            grid-row: 1 / span 2;
            grid-column: 1;
        }
    }
}

.vert--printful {
    $printfulred: #ff4440;
    $darkerprintfulred: darken($printfulred, 20);
    color: #333;
    border: none;
    grid-template-columns: 1fr;
    background: #fff;
    border-radius: var(--border-radius);

    h2,
    h3 {
        margin: 0 0 0 auto;
        width: 100%;
        text-align: center;
    }
    a.button,
    button.button {
        color: #fff;
        margin: 0 auto;
        width: 100%;
        background: $printfulred;

        &:hover {
            @include hardShadow(5, $darkerprintfulred);
        }
    }

    .vert__content {
        display: flex;

        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-self: center;
    }

    .vert__img-wrap {
        background: #fff;
        padding: 1rem;

        border-radius: var(--border-radius);
        grid-row: 1;
    }
}

.vert--bonsai {
    $bonsaiGreen: #00af8b;
    background: #fff;
    border-radius: var(--border-radius);

    grid-template-columns: 1fr;

    @include breakpoint(laptop) {
        grid-template-columns: 1fr 3fr;
    }


    p {
        color: #333;
        font-weight: 400;
        text-align: left;
        font-size: 1.25rem;
    }
    h2,
    h3 {
        margin: 0 0 0 auto;
        width: 100%;
        text-align: left;
        color: $bonsaiGreen;
    }
    a.button,
    button.button {
        color: #fff;
        margin: 0 auto;
        width: 100%;
        background: $bonsaiGreen;

        &:hover {
            @include hardShadow(5, darken($bonsaiGreen, 5));
        }
    }

    .vert__content {
        display: flex;

        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-self: center;
    }

    .vert__img-wrap {
        background: #fff;
        padding: 1rem;

        border-radius: var(--border-radius);
        grid-row: 1;
    }
}

.vert--namecheap {
    $namecheapOrange: #fe5803;

    display: grid;
    grid-template-columns: 1fr;
    border-width: 15px;
    .vert__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-self: center;

        h2,
        h3 {
            color: #fff;
            margin: 0;
        }
    }

    .vert__img-wrap {
        background: #fff;
        padding: 1rem;

        border-radius: var(--border-radius);
        grid-row: 1;
        width: 80%;
        margin: 0 auto;
    }

    a.button,
    button.button {
        color: #fff;
        margin: 0 auto;
        width: 100%;
        background: $namecheapOrange;

        &:hover {
            @include hardShadow(5, darken($namecheapOrange, 10));
        }
    }
}

.vert--patreon {
    $coral: #ff424d;
    $black: #141518;

    background: $coral;
    grid-template-columns: 1fr;
    display: grid;

    a.button,
    button.button {
        color: #fff;
        background: $black;
        width: 100%;

        img {
            margin-right: 0.5ch;
        }
    }

    .patreon__perks {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 0.5rem;
        li {
            list-style: none;
            border: 1px solid lighten($coral, 10);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--border-radius);
            flex-direction: column;
            padding: 2rem 0;
            font-size: 1rem;

            position: relative;
            animation: bounceSlow 7000ms infinite;
            &:nth-of-type(1) {
                animation-delay: 1000ms;
            }
            &:nth-of-type(2) {
                animation-delay: 2000ms;
            }
            &:nth-of-type(3) {
                animation-delay: 3000ms;
            }
            &:nth-of-type(4) {
                animation-delay: 4000ms;
            }

            svg {
                font-size: 2rem;
                margin-bottom: 0.5rem;
            }
        }
    }

    &:hover {
        .patreon__perks {
            li {
                animation: bounce 300ms alternate infinite;

                &:nth-of-type(2) {
                    animation-delay: 100ms;
                }
                &:nth-of-type(3) {
                    animation-delay: 200ms;
                }
                &:nth-of-type(4) {
                    animation-delay: 300ms;
                }
            }
        }
    }
}

@keyframes bounce {
    0% {
        top: 0;
    }
    100% {
        top: -10px;
    }
}

@keyframes bounceSlow {
    0% {
        top: 0;
    }
    5% {
        top: -5px;
    }

    10% {
        top: 0;
    }
    100% {
        top: 0;
    }
}

.vert--shaklee {
    $shakleeGreen: #133e35;
    $lighterGreen: #006a52;
    $border-width: 15px;
    background: #fff;
    color: $black;
    flex-direction: column;

    border-top: $border-width solid $shakleeGreen;
    border-bottom: $border-width solid $shakleeGreen;

    .grid {
        grid-template-columns: 1fr;
        grid-gap: 1rem;

        @include breakpoint(laptop) {
            grid-template-columns: 3fr 2fr;
        }

        img.meology-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            @include breakpoint(laptop) {
                width: calc(100% + 1rem);
                height: calc(100% + 1rem);
                
                margin-top: -1rem;
                margin-left: 1rem;
            }
        }
    }

    a.button,
    button.button {
        color: #fff;
        background: $shakleeGreen;
        width: 100%;

        img {
            margin-right: 0.5ch;
        }
    }

    h3 {
        strong {
            font-weight: 900;
        }
    }

    .shaklee__perks {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: column;

        @include breakpoint(laptop) {
            flex-direction: row;
        }
        li {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0;
            svg {
                margin-right: 0.5rem;
                color: $shakleeGreen;
            }
            span {
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }

    &:hover {
        color: $shakleeGreen;

        a.button,
        button.button {
            background: #006a52;
        }
    }
}
