.vert {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    align-self: center;

    border: 2px solid #fff;
    border-left: none;
    border-right: none;

    p {
        text-align: center;
        font-size: 1.5rem;
    }

    &--with-icon {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 1rem;
        padding: 1rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    a.button {
        grid-column: 1 / -1;
        background: var(--color);
        font-size: 1.5rem;
        padding: 0.5rem;
    }
}

.post__post-content {
    .vert {
        width: 100%;
        margin: 1em auto 3em;
        @include breakpoint(laptop) {
            padding: 3em;
            width: 80%;
        }
    }
}

.blog-posts {
    .vert {
        grid-column: auto / span 3;
        margin: 0 auto 3rem;

        @include breakpoint(laptop) {
            width: 60%;
            margin: 3rem auto;
        }
    }
}

.vert--newsletter {
    background: #fff;
    width: 70%;
    margin: 0 auto;
    border-radius: var(--border-radius);
    padding: 1rem;

    .title__box {
        border-bottom-color: var(--text-color--inverted);
    }
}

.vert--gridgospel {
    padding: 1rem;
    align-items: center;
    grid-template-rows: 7fr 1fr;
    grid-template-columns: 3fr 4fr;
    column-gap: 0;

    background: #f6e048;
    color: #333;
    border-radius: var(--border-radius);

    .vert__content {
        align-items: center;
        display: flex;
        flex-direction: column;

        h1 {
            margin: 1rem auto;
        }

        h2 {
            margin: 0.25rem auto;
        }

        ul {
            margin: 0 auto;
        }
    }

    ul {
        text-align: left;
        max-width: 90%;
    }

    .vert__img-wrap {
        border-radius: 10px;
        grid-row: 1 / span 2;
        width: 100%;
        height: 100%;
        display: flex;
        filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.4));
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    a.button {
        grid-column: 2;
        background: #333;
        color: #fff;
    }
}

.vert--moreWithLess {
    background: #fff;
    color: #333;
    padding: 1rem;
    border-radius: var(--border-radius);
    grid-template-columns: 1fr 1fr;

    .vert__img-wrap {
        border-radius: 10px;
        grid-row: 1 / span 2;
        width: 100%;
        height: 100%;
        display: flex;
        filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.4));
    }

    a.button {
        grid-column: 2;
        background: #333;
        color: #fff;
    }
}
